// Jade是基于缩进的HTML模版引擎，将视图编译成HTML，通常在视图文件夹中使用。
// 使用Jade可以使得应用程序可以动态输出数据到HTML中，真正能力是操纵数据并输出数据到HTML中。
// Jade使用缩进来定义HTML文档的层次结构，Jade无需使用标记，无需关闭HTML标记。
//Jade使用减号"-"告诉随后的代码应该被执行，使用等号"="告诉对随后的代码进行演算、转义，然后输出。#{变量}告诉Jade将变量替换为字符串值
html
    head
    body
        section#wrapper
        p.highlight
        section#wrapper.class_nam
        section.first.second.third
        h1 Very important heading
        p
            span
        p
            | Text can be over
            | many lines
            | after a pipe symbol
        .wrapper
            h1 My holiday in Prague
            p I had a great holidy.
            img(src="images/photo.jpg",alt="Me on holiday")

        h1 定义变量
        - console.log('hello'); // 这段代码在服务端执行
        - var s = 'hello world' // 在服务端空间中定义变量
        p Foo is #{s}!
        p= 'Foo is ' + s

        h1 for循环
        - var array = ['定','义','循','环']
        ul
            - for (var i = 0; i < array.length; ++i) {
                li hello #{array[i]}
            - }

        h1 each循环
        ul
            each val, index in ['each', '循', '环']
                li= index + ': ' + val
        h1 each循环json数据
        ul
            each val, index in {1:'苹果',2:'梨子',3:'乔布斯'}
                 li= index + ': ' + val

        h1 if 判断
        - var user = { description: '我喜欢猫' }
        - if (user.description)
            h2 描述
            p.description= user.description
        - else
            h1 描述
            p.description 用户无描述

        - var user = { description: '我喜欢猫' }
        #user
            if user.description
                h2 描述
                p.description= user.description
            else
                h1 描述
                p.description 用户无描述

        - var user = { name: 'Alan', isVip: false }
        unless user.isVip
            p 亲爱的 #{user.name} 您并不是 VIP

        h1 Case
        - var friends = 10
        case friends
            when 0
                p you have no friends
            when 1
                p you have a friend
            default
                p you have #{friends} friends

         h1 case简写
        - var friends = 1
        case friends
            when 0: p you have no friends
            when 1: p you have a friend
            default: p you have #{friends} friends

        h1 在模板中调用其他语言
        :markdown
            - Markdown 标题
            这里使用的是 MarkDown 格式
        script
            :coffee
                console.log '这里是 coffee script'